/* General page styling */
body {
    font-family: "Bungee Hairline", serif !important;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 0.8px black;
}

/* Heading style */
.home h1 {
    font-family: 'Doto', sans-serif;
}    
h1 {
    font-family: "Bungee Hairline", serif;
    color: #333;
    font-size: 36px;
    margin-top: 50px;
    font-weight: 700;
}

/* Paragraph style */
p {
    font-family: "Bungee Hairline", serif;
    color: #555;
    font-size: 18px;
}

/* Navbar styling */
nav {
    background-color: #807c7c; 
    padding: 15px;
    text-align: center;
    font-family: "Bungee Hairline", serif;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}