/* General page styling */
body {
    font-family: "Chalkboard SE", "Comic Sans MS", cursive; /* Genel font Chalkboard SE */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Heading style */
h1 {
    color: #333;
    font-size: 36px;
    margin-top: 50px;
}

/* Paragraph style */
p {
    color: #555;
    font-size: 18px;
}

/* Navbar styling */
nav {
    background-color: #807c7c; /* Açık gri tonu */
    padding: 15px;
    text-align: center;
    font-family: "Chalkboard SE", "Comic Sans MS", cursive; /* Navbar için Chalkboard SE */
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}